* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;}

body {
    background-color:#000000;
    max-width:100%;
    min-height:100%;
    font-family: 'Montserrat', sans-serif;
    margin:auto;
    line-height:1em;
    overflow-x:hidden;
    color:#666666;}


/*---Title---*/

.Belfast-title{width:26%; padding:5% 37% 3% 37%;}

p{color:#ffffff;
    font-size:105%;
    font-family: 'Montserrat', sans-serif;
    padding:1em 27% 1em 27%;
    line-height:1.5em;}

/*---Portfolio---*/

.portfolio-grid{padding:0 5% 0 5%;}

.portfolio-grid img{object-fit:cover;}

.portfolio-sq{height:20em; width:20em;} 

ul.img-list {
  list-style-type:none;
  margin:0;
  padding:1em 0em 1em 0em;
  text-align:center;}

ul.img-list li {
  display:inline-block;
  margin:0 1em 1em 0;
  position:relative;}

.imageBox {position:relative;}

.imageBox .hoverImg {
  position:absolute;
  left:0;
  top:0;
  display:none;}

.imageBox:hover .hoverImg {display:block;}

/*---CTA---*/

.CTA{
    padding-top:3em;
    padding-bottom:3em;
    position: relative;
    top:0em;}

.download{
    position: relative;
    top: 0em;
    padding:1em 1em 1em 1em;
    font-family:'Montserrat',sans-serif;
    background:#FFFFFF;
    display:block;
    text-decoration:none;
    color:#000000;
    font-size:1.15em;
    text-align:center;
    margin:0 auto;
    width:150px;
    margin-bottom:0em;}

.underline-from-left {
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  overflow:hidden;}

.underline-from-left:before {
  content:"";
  position:absolute;
  z-index:-1;
  left:0;
  right:100%;
  bottom:0;
  background:#666666;
  height:5px;
  -webkit-transition-property:right;
  transition-property:right;
  -webkit-transition-duration:0.3s;
  transition-duration:0.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out;}

.underline-from-left:hover:before, .underline-from-left:focus:before, .underline-from-left:active:before {right:0;}

/*---Footer---*/

.footer-line{width:90%;
            margin:5% 5% 3% 5%;
            border:1px solid #FFFFFF;}

footer{
    padding:0 0 3% 0;
    font-size:.9em;
	text-align:center;
	text-decoration:none;}

.footer a{font-size:105%; color:#666666; text-decoration:none;}

.footer a:hover{color:#FFFFFF;}

.footer li {display:inline; margin:2%;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {.Belfast-title{width:40%; padding:5% 30% 3% 30%;}}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {.Belfast-title{width:60%; padding:5% 20% 3% 20%;} p{padding:1em 15% 1em 15%;}}
